In [6]:
# Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module

import pandas as pd
 
res = pd.Series([2,3,4,5])
print(res)

0    2
1    3
2    4
3    5
dtype: int64

In [11]:
# Write a Pandas program to convert a Panda module Series to Python list and itâ€™s type.

print(type(res))
res_lis = res.tolist()
print(res_lis)
print(type(res_lis))

<class 'pandas.core.series.Series'>
[2, 3, 4, 5]
<class 'list'>

In [18]:
# Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

a = pd.Series([1,2,3,4])
b = pd.Series([5,6,7,8])
print("Sum:")
print(a+b)
print("Subtract:")
print(a-b)
print("Multiple:")
print(a*b)
print("Divide:")
print(a/b)

Sum:
0     6
1     8
2    10
3    12
dtype: int64
Subtract:
0   -4
1   -4
2   -4
3   -4
dtype: int64
Multiple:
0     5
1    12
2    21
3    32
dtype: int64
Divide:
0    0.200000
1    0.333333
2    0.428571
3    0.500000
dtype: float64

In [25]:
# Write a Pandas program to compare the elements of the two Pandas Series.
print("series 1:")
print(a)
print("series 2:")
print(b)
print("Equal To: ")
print(a==b)
print("Greater Than: ")
print(a>b)
print("Lesser Than: ")
print(a<b)

series 1:
0    1
1    2
2    3
3    4
dtype: int64
series 2:
0    5
1    6
2    7
3    8
dtype: int64
Equal To:
0    False
1    False
2    False
3    False
dtype: bool
Greater Than:
0    False
1    False
2    False
3    False
dtype: bool
Lesser Than:
0    True
1    True
2    True
3    True
dtype: bool

In [34]:
# Write a Pandas program to convert a dictionary to a Pandas series

d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
print("original dictionary: ")
print(d1)
print("Converted into series: ")
print(pd.Series(d1))

original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted into series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

In [37]:
# Write a Pandas program to convert a NumPy array to a Pandas series

import numpy as np
a1 = np.array([1,2,3,4])
print("Original numpy array: ",a1)
res = pd.Series(a1)
print("Numpy array to panda series: ")
print(res)

Original numpy array:  [1 2 3 4]
Numpy array to panda series:
0    1
1    2
2    3
3    4
dtype: int32

In [47]:
# Write a Python Pandas program to convert the first column of a DataFrame as a Series.

d1 = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
print(pd.Series(d1))

df = pd.DataFrame(d1)
print(df)

print("First column of a data frame as a series: ")
s1 = df.iloc[:,0]
print(s1)

col1     [1, 2, 3, 4, 7, 11]
col2      [4, 5, 6, 9, 5, 0]
col3    [7, 5, 8, 12, 1, 11]
dtype: object
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11
First column of a data frame as a series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [55]:
# Write a Pandas program to convert Series of lists to one Series.

s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print("Original Series of list: ")
print(s)
s = s.apply(pd.Series).stack().reset_index(drop=True)
print("One Series: ")
print(s)

Original Series of list:
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
One Series:
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [60]:
# Write a Pandas program to sort a given Series.

s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Series: ")
print(s)
new_s = pd.Series(s).sort_values()
print("Sorted Series: ")
print(new_s)

Original Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Sorted Series:
0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [64]:
# Write a Pandas program to add some data to an existing Series

s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Series: ")
print(s)
s_new = s.append(pd.Series([500,'php']))
print("New Series after append: ")
print(s_new)

Original Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
New Series after append:
0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

In [68]:
# Write a Pandas program to create a subset of a given series based on value and condition.

s = pd.Series(range(9))
print("Original Series: ")
print(s)
s_new = s[s<5]
print("subset series after condition: ")
print(s_new)

Original Series:
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
dtype: int64
subset series after condition:
0    0
1    1
2    2
3    3
4    4
dtype: int64

In [71]:
# Write a Pandas program to change the order of index of a given series.
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print("Original Series: ")
print(s)
s = s.reindex(index = ['B','A','C','D','E'])
print("New series after re indexing: ")
print(s)

Original Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64
New series after re indexing:
B    2
A    1
C    3
D    4
E    5
dtype: int64

In [78]:
# Write a Pandas program to create the mean and standard deviation of the data of a given Series

s = pd.Series(range(9))
print(s)
print("Mean: ")
print(s.mean())
print("Standard Deviation: ")
print(s.std())

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
dtype: int64
Mean:
4.0
Standard Deviation:
2.7386127875258306