In [25]:
# Write a Pandas program to get the first 3 rows of a given DataFrame.

import numpy as np
import pandas as pd

exam_data = {'Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'Score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'Attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'Qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
print("Data Frame: ")
df = pd.DataFrame(exam_data, index = labels)
print(df)
print("First three rows of data frame: ")
print(df.iloc[:3])

Data Frame:
        Name  Score  Attempts Qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
First three rows of data frame:
        Name  Score  Attempts Qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [28]:
# Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.

print("Name & score columns of data frame: ")
print(df[['Name','Score']])

Name & score columns of data frame:
        Name  Score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [37]:
# Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

print (df)
print("\n")

print("Rows with attempts greater than 2: ")
print(df[df['Attempts']>2])

        Name  Score  Attempts Qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes


Rows with attempts greater than 2:
      Name  Score  Attempts Qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

In [43]:
# Write a Pandas program to count the number of rows and columns of a DataFrame.

print("Count the number of rows in data frame: ")
print(len(df.axes[0]))
print("Count of the numer of columns in data frame: ")
print(len(df.axes[1]))

Count the number of rows in data frame:
10
Count of the numer of columns in data frame:
4

In [49]:
# Write a Pandas program to select the rows where the score is missing, i.e. is NaN

print("Rows where score is missing: ")
print(df[df['Score'].isnull()])

Rows where score is missing:
    Name  Score  Attempts Qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

In [51]:
# Write a Pandas program to select the rows the score is between 15 and 20 (inclusive).

print("Rows where score is between 15 and 20: ")
print(df[df['Score'].between(15,20)])

Rows where score is between 15 and 20:
        Name  Score  Attempts Qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

In [59]:
# Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.

print("rows where number of attempts in the examination is less than 2 and score greater than 15: ")
print(df[(df['Attempts']<3) & (df['Score']>15)])

rows where number of attempts in the examination is less than 2 and score greater than 15:
        Name  Score  Attempts Qualify
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes

In [80]:
# Write a Pandas program to change the score in row 'd' to 11.5. 

print(df)
df.loc['d','Score'] = 11.5
print("After Changing Score: ")
print(df)

        Name  Score  Attempts Qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
After Changing Score:
        Name  Score  Attempts Qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [87]:
# Write a Pandas program to calculate the sum of the examination attempts by the students.
print("Number of examination attempts by students: ")
print(df['Attempts'].sum())

Number of examination attempts by students:
19

In [90]:
# Write a Pandas program to calculate the mean score for each different student in data frame.

print(df['Score'].mean())

13.333333333333334

In [99]:
# Write a Pandas program to append a new row 'k' to DataFrame with given values for each column. Now delete the new row and return the original data frame.

df.loc['k'] = ['suresh',15.5,1,'yes']
print(df)
# drop the added row
df = df.drop('k')
print("data frame after dropping the added row: ")
print(df)

        Name Score Attempts Qualify
a  Anastasia  12.5        1     yes
b       Dima     9        3      no
c  Katherine  16.5        2     yes
d      James  11.5        3      no
e      Emily     9        2      no
f    Michael    20        3     yes
g    Matthew  14.5        1     yes
h      Laura   NaN        1      no
i      Kevin     8        2      no
j      Jonas    19        1     yes
k     suresh  15.5        1     yes
data frame after dropping the added row:
        Name Score Attempts Qualify
a  Anastasia  12.5        1     yes
b       Dima     9        3      no
c  Katherine  16.5        2     yes
d      James  11.5        3      no
e      Emily     9        2      no
f    Michael    20        3     yes
g    Matthew  14.5        1     yes
h      Laura   NaN        1      no
i      Kevin     8        2      no
j      Jonas    19        1     yes

In [125]:
# Write a Pandas program to sort the data frame first by 'name' in descending order, then by 'score' in ascending order.
print("Original Data frame: ")
print(df)
print("Data Frame after name descending and score ascending: ")
print(df.sort_values(by = ['Name','Attempts'],ascending = [False,True]))

Original Data frame:
        Name Score Attempts Qualify
a  Anastasia  12.5        1     yes
b       Dima     9        3      no
c  Katherine  16.5        2     yes
d      James  11.5        3      no
e      Emily     9        2      no
f    Michael    20        3     yes
g    Matthew  14.5        1     yes
h      Laura   NaN        1      no
i      Kevin     8        2      no
j      Jonas    19        1     yes
Data Frame after name descending and score ascending:
        Name Score Attempts Qualify
f    Michael    20        3     yes
g    Matthew  14.5        1     yes
h      Laura   NaN        1      no
i      Kevin     8        2      no
c  Katherine  16.5        2     yes
j      Jonas    19        1     yes
d      James  11.5        3      no
e      Emily     9        2      no
b       Dima     9        3      no
a  Anastasia  12.5        1     yes

In [158]:
# Write a Pandas program to replace the ‘qualify' column contains the values 'yes' and 'no' with True and False.

print("Original Data Frame: ")
print(df)
df['Qualify'] = df['Qualify'].map({'yes': 'true','no':'false'})
print("Data Fram after changing qualify values: ")
print(df)

Original Data Frame:
        Name Score Attempts Qualify
a  Anastasia  12.5        1    true
b       Dima     9        3    true
c  Katherine  16.5        2   false
d      James  11.5        3   false
e      Emily     9        2    true
f    Michael    20        3    true
g    Matthew  14.5        1   false
h      Laura   NaN        1   false
i      Kevin     8        2   false
j      Jonas    19        1    true
Data Fram after changing qualify values:
        Name Score Attempts Qualify
a  Anastasia  12.5        1     NaN
b       Dima     9        3     NaN
c  Katherine  16.5        2     NaN
d      James  11.5        3     NaN
e      Emily     9        2     NaN
f    Michael    20        3     NaN
g    Matthew  14.5        1     NaN
h      Laura   NaN        1     NaN
i      Kevin     8        2     NaN
j      Jonas    19        1     NaN

In [160]:
df['Qualify'] = ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
print (df)

        Name Score Attempts Qualify
a  Anastasia  12.5        1     yes
b       Dima     9        3      no
c  Katherine  16.5        2     yes
d      James  11.5        3      no
e      Emily     9        2      no
f    Michael    20        3     yes
g    Matthew  14.5        1     yes
h      Laura   NaN        1      no
i      Kevin     8        2      no
j      Jonas    19        1     yes

In [169]:
# Write a Pandas program to change the name 'James' to 'Suresh' in name column of the data frame.

df['Name']= df['Name'].replace('James','Suresh')
print(df)

        Name  Score  Attempts Qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d     Suresh    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [182]:
# Write a Pandas program to delete the 'attempts' column from the DataFrame.

print(df)
df.pop('Attempts')
print(df)

        Name  Score  Attempts Qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
        Name  Score Qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

In [190]:
# Write a Pandas program to insert a new column in existing DataFrame.

Color = ['Red','Blue','Orange','Red','White','White','Blue','Green','Green','Red']
df['Color'] = Color
print (df)

        Name  Score  Attempts Qualify   Color
a  Anastasia   12.5         1     yes     Red
b       Dima    9.0         3      no    Blue
c  Katherine   16.5         2     yes  Orange
d      James    NaN         3      no     Red
e      Emily    9.0         2      no   White
f    Michael   20.0         3     yes   White
g    Matthew   14.5         1     yes    Blue
h      Laura    NaN         1      no   Green
i      Kevin    8.0         2      no   Green
j      Jonas   19.0         1     yes     Red

In [210]:
# Write a Pandas program to iterate over rows in a DataFrame.

exam_data = [{'name':'Anastasia', 'score':12.5}, {'name':'Dima','score':9}, {'name':'Katherine','score':16.5}]
df1 = pd.DataFrame(exam_data)
print(df1)
print("\n")
print("After iterating through each row: ")
for index, row  in df1.iterrows():
    print(row['name'], row['score'])
#    print(row['name'],row['score'])

        name  score
0  Anastasia   12.5
1       Dima    9.0
2  Katherine   16.5


After iterating through each row:
Anastasia 12.5
Dima 9.0
Katherine 16.5

In [219]:
# Write a Pandas program to get list from DataFrame column headers. 
print(df)
lis = df.columns.values
print(lis)
print(list(lis))

        Name  Score  Attempts Qualify   Color
a  Anastasia   12.5         1     yes     Red
b       Dima    9.0         3      no    Blue
c  Katherine   16.5         2     yes  Orange
d      James    NaN         3      no     Red
e      Emily    9.0         2      no   White
f    Michael   20.0         3     yes   White
g    Matthew   14.5         1     yes    Blue
h      Laura    NaN         1      no   Green
i      Kevin    8.0         2      no   Green
j      Jonas   19.0         1     yes     Red
['Name' 'Score' 'Attempts' 'Qualify' 'Color']
['Name', 'Score', 'Attempts', 'Qualify', 'Color']

In [6]:
# Write a Pandas program to rename columns of a given DataFrame.

import pandas as pd
d = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df1 = pd.DataFrame(data=d)
print(df1)
list(df1.columns.values)
df1=df1.rename(columns={'col1':'column1','col2':'column2','col3':'column3'})
print(df1)

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9
   column1  column2  column3
0        1        4        7
1        2        5        8
2        3        6        9

In [18]:
# Write a Pandas program to select rows from a given DataFrame based on values in some columns.
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df1 = pd.DataFrame(data=d)
print(df1)
df1[df1['col1']==4]

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

   col1  col2  col3
1     4     5     8
3     4     7     0

In [26]:
# Write a Pandas program to replace all the NaN values with Zero's in a column of a dataframe.

import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print(df)
df = df.fillna(0)
print(df)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    0.0         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    0.0         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

In [33]:
# Write a Pandas program to set a given value for particular cell in DataFrame using index value.
print("Original data frame: ")
print(df)
df_new = df.set_value(4,'score',12.0)
print(df_new)

Original data frame:
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    0.0         3      no
4      Emily   12.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    0.0         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    0.0         3      no
4      Emily   12.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    0.0         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

C:\Users\suppuletix067037\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

In [16]:
# Count number of Nan values in one or more columns
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print(df)

df.isnull().values.sum()

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

2

In [39]:
# drop rows from a data frame

d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df1 = pd.DataFrame(data=d)
print(df1)
df1 = df1.drop(df1.index[[0,2]])
print(df1)

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
   col1  col2  col3
1     4     5     8
3     4     7     0
4     5     8     1

In [43]:
# Reset index of data fram

print(df)
df.reset_index()
print("After resetting index: ")
print(df)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
After resetting index:
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

In [51]:
# append two series to form a data frame

s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
s2 = pd.Series(['10', '20', 'php', '30.12', '40'])
print(s1)
print(s2) 
d_series = pd.concat([s1,s2],axis =1)
print(" Data Frame: ")
print(d_series)

0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       10
1       20
2      php
3    30.12
4       40
dtype: object
 Data Frame:
        0      1
0     100     10
1     200     20
2  python    php
3  300.12  30.12
4     400     40

In [66]:
# Shuffle the dataframe rows

print(df)
print(df.sample(frac=1))

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
        name  score  attempts qualify
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
1       Dima    9.0         3      no
3      James    NaN         3      no
0  Anastasia   12.5         1     yes
2  Katherine   16.5         2     yes
6    Matthew   14.5         1     yes
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
7      Laura    NaN         1      no

In [73]:
#  Convert string datatype to date time

s = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000'])
print("String Date:")
print(s)

r = pd.to_datetime(pd.Series(s))
print(r)
df_date = pd.DataFrame(r)
print("Data Frame of data type Datetime: ")
print(df_date)

String Date:
0    3/11/2000
1    3/12/2000
2    3/13/2000
dtype: object
0   2000-03-11
1   2000-03-12
2   2000-03-13
dtype: datetime64[ns]
Data Frame of data type Datetime:
           0
0 2000-03-11
1 2000-03-12
2 2000-03-13

In [79]:
# list of specified columns of data fram
d = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)

print(list(df['col2']))

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9
[4, 5, 6]

In [85]:
# if a given column is there in data frame

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)

if 'col1' in df:
    print("col1 is available in data frame")
else:
    print("col1 is not available in data fram")

print(df.columns)
print(df.values)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
col1 is available in data frame
Index(['col1', 'col2', 'col3'], dtype='object')
[[ 1  4  7]
 [ 2  5  8]
 [ 3  6 12]
 [ 4  9  1]
 [ 7  5 11]]

In [89]:
# data types of columns

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print("Original DataFrame:")
print(df)
print("Data Type of columns: ")
print(df.dtypes)

Original DataFrame:
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
Data Type of columns:
name         object
score       float64
attempts      int64
qualify      object
dtype: object

In [101]:
# Write a Pandas program to sort a given DataFrame by two or more columns.

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9.1, 16.5, 12.77, 9.21, 20.22, 14.5, 11.34, 8.8, 19.13],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print("Original DataFrame:")
print(df)
print("Data Frame after sorting: ")
print(df.sort_values(['attempts','name'],ascending=[True,True]))

Original DataFrame:
        name  score  attempts qualify
0  Anastasia  12.50         1     yes
1       Dima   9.10         3      no
2  Katherine  16.50         2     yes
3      James  12.77         3      no
4      Emily   9.21         2      no
5    Michael  20.22         3     yes
6    Matthew  14.50         1     yes
7      Laura  11.34         1      no
8      Kevin   8.80         2      no
9      Jonas  19.13         1     yes
Data Frame after sorting:
        name  score  attempts qualify
0  Anastasia  12.50         1     yes
9      Jonas  19.13         1     yes
7      Laura  11.34         1      no
6    Matthew  14.50         1     yes
4      Emily   9.21         2      no
2  Katherine  16.50         2     yes
8      Kevin   8.80         2      no
1       Dima   9.10         3      no
3      James  12.77         3      no
5    Michael  20.22         3     yes

In [104]:
# Write a Pandas program to convert the datatype of a given column(floats to int).

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9.1, 16.5, 12.77, 9.21, 20.22, 14.5, 11.34, 8.8, 19.13],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print("Original DataFrame:")
print(df)
print(df.dtypes)
df.score = df.score.astype(int)
print("Data Types after changing columns score: ")
print(df.dtypes)

Original DataFrame:
        name  score  attempts qualify
0  Anastasia  12.50         1     yes
1       Dima   9.10         3      no
2  Katherine  16.50         2     yes
3      James  12.77         3      no
4      Emily   9.21         2      no
5    Michael  20.22         3     yes
6    Matthew  14.50         1     yes
7      Laura  11.34         1      no
8      Kevin   8.80         2      no
9      Jonas  19.13         1     yes
name         object
score       float64
attempts      int64
qualify      object
dtype: object
Data Types after changing columns score:
name        object
score        int32
attempts     int64
qualify     object
dtype: object

In [113]:
# Write a Pandas program to get column index from column name of a given DataFrame

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
df.columns.get_loc('col3')

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

2

In [116]:
# Write a Pandas program to count number of columns of a DataFrame.

print(df.columns)
print(" count of number of columns: ")
print(len(df.columns))

Index(['col1', 'col2', 'col3'], dtype='object')
 count of number of columns:
3

In [121]:
# Write a Pandas program to get first n records of a DataFrame. 

d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
print(" First 4 records of data frame: ")
print(df.loc[0:3])
print(df.head(4))

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11
 First 4 records of data frame:
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12

In [129]:
# Write a Pandas program to get last n records of a DataFrame.

print(df)
print("Last n records of data frame: ")
print(df.tail(3))

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11
Last n records of data frame:
   col1  col2  col3
3     4     9    12
4     7     5     1
5    11     0    11

In [137]:
# Write a Pandas program to remove first n rows of a given DataFrame.

print(df)
print(" Data Fram after removing first n records: ")
df1 = df.loc[3:]
print(df1)

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11
 Data Fram after removing first n records:
   col1  col2  col3
3     4     9    12
4     7     5     1
5    11     0    11

In [138]:
# Write a Pandas program to remove last n rows of a given DataFrame.

print(df)
print(" Data Fram after removing first n records: ")
df1 = df.loc[0:3]
print(df1)

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11
 Data Fram after removing first n records:
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12